html,
body {
  margin: 0;
  background-color: #f7f7f7 !important;
}
@font-face {
  font-family: Lato-Black;
  src: url(/fonts/Lato-Black.woff2);
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato-Bold.woff2);
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/Lato-Regular.woff2);
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.topbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.logo2 img {
  width: 30px;
  height: 30px;
}
.logo2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 12%;
  padding: 5px;
}
.topbar ul {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  margin-left: 5%;
  padding-top: 10px;
}
.topbar li {
  list-style-type: none;
}
.topbar a {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #2e2424;
  text-decoration: none;
}

.navbar {
  background-color: #324d3e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 10px;
}
.logo img {
  width: 190px;
  height: 60px;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 11%;
  padding: 0px 10px;
}
.navbar ul {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
  padding: 10px 10px;
  margin-right: 10%;
}
.navbar li {
  list-style-type: none;
  padding-top: 20px;
}
.navbar a {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}
.main-page {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: white;
}
.nav_button {
  background-color: #fff95a;
  color: black !important;
  padding: 10px 30px;
  transition: background-color 0.2s linear;
  border-radius: 5px;
}
.nav_button:hover {
  background-color: #8ba9c4;
  color: #0b2545 !important;
  font-weight: bold;
}
.underline:after {
  width: 0%;
  height: 3px;
  margin: auto;
  display: block;
  content: "";
  background-color: transparent;
  transition: 0.5s ease;
}
.underline:hover::after {
  width: 100%;
  background-color: #0b2545;
}
.c-item {
  height: 816px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(1.4);
}
.main h2 {
  font-family: "Lato-Black";
  font-size: 60px;
  line-height: 65px;
  color: white;
}

.main p {
  font-family: "Lato-Regular";
  font-size: 18px;
  line-height: 28px;
  color: white;
  padding: 10px 0px;
}

.main button {
  font-family: "Lato-Regular";
  font-size: 18px;
  background-color: #ffffff;
  border: none;
  padding: 12px 40px;
  border-radius: 5px;
  color: #323232;
  margin-top: 20px;
}

.carousel-indicators button {
  max-width: 15px;
  min-height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  margin: 0 5px;
  transition: background-color 0.3s ease-in-out;
}

.carousel-indicators .active {
  background-color: white;
  width: 16px;
  height: 16px;
}
.rooms h2 {
  font-family: "Lato-Black";
  font-size: 43px;
  line-height: 50px;
  color: #323232;
}
.rooms p {
  font-family: "Lato-Regular";
  font-size: 18px;
  line-height: 28px;
  color: #323232;
  margin-right: 70px;
}
.rooms-pictures img {
  width: 623px;
  height: 436px;
  border-top-right-radius: 150px;
  opacity: 100%;
  padding: 0px 0px;
}
.rooms-btn {
  background-color: #324d3e;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
  width: 50%;
  max-width: 130px;
}
@media (max-width: 1399px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
}
.photos img {
  width: 240px;
  height: 182px;
  padding: 0px 5px;
  object-fit: cover;
}
.hotel1 {
  width: 320px;
  background: #ffffff;
  height: 383px;
  margin: 5px;
}
.hotel1_title {
  font-family: "Lato-Black";
  font-weight: normal;
  font-size: 43px;
  color: #ffffff;
}
.hotel1 h3 {
  font-family: "Lato-Black";
  font-size: 32px;
  color: #323232;
}
.hotel1 p {
  font-family: "Lato-Regular";
  padding: 0px 10px;
  font-size: 18px;
  color: #323232;
}
.hotel1 img {
  background-color: #324d3e;
  width: 115px;
  height: 123px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  opacity: 1;
  padding: 25px;
}
.restaurant {
  background-color: #ffffff;
  border-bottom-right-radius: 150px;
}
.restaurant img {
  width: 377px;
  height: 406px;
  border-top-left-radius: 50px;
}
.restaurant h2 {
  font-family: "Lato-Black";
  font-size: 43px;
  white-space: nowrap;
  padding-top: 20px;
}
.restaurant p {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
}
.second-title {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #324d3e;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0;
}
.hotel-item {
  display: flex;
  align-items: start;
  font-family: "Lato-Regular";
  font-size: 18px;
}
.hotel-item i {
  margin-top: 7px;
}
.hotel-item p {
  font-family: "Lato-Regular";
  font-size: 18px;
  margin: 0px 10px;
  line-height: 28px;
  margin-right: 40px;
}

.hotel-item-last {
  display: flex;
  align-items: start;
  font-family: "Lato-Regular";
  font-size: 18px;
}
.hotel-item-last i {
  margin-top: 7px;
  padding: 5px 5px;
}
.hotel-item-last p {
  font-family: "Lato-Regular";
  font-size: 18px;
  margin: 0px 5px;
  line-height: 28px;
  margin-right: 40px;
}
.restaurant .hotel-item2 {
  font-family: "Lato-Black";
  font-size: 32px;
  color: #323232;
}
.restaurant .hotel-item1 {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
  margin-bottom: 0px;
}
.price-details {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
}
.restaurant button {
  background-color: #324d3e;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
  width: 154px;
  height: 49px;
  font-family: "Lato-Regular";
  font-size: 18px;
  margin-top: 40px;
}
.package-btn {
  font-family: "Lato-Regular";
  font-size: 18px;
  width: 230px;
  height: 49px;
  border-radius: 5px;
  color: #323232;
}
.sauna-item {
  display: flex;
  align-items: start;
}
.sauna-item i {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-right: 5px;
}
.sauna-item p {
  display: flex;
  align-items: center;
  padding-top: 0px;
  width: 510px;
  padding: 0px 5px;
}

.hotel-sauna h2 {
  font-family: "Lato-Black";
  font-size: 43px;
  color: #ffffff;
  margin-top: 150px;
}
.hotel-sauna p {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #ffffff;
}
.sauna-button {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
  background-color: white;
  width: 151px;
  height: 49px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.carousel-hotel .carousel-item img {
  width: 623px;
  max-width: 100%;
  height: 571px;
  max-height: auto;
  border-top-left-radius: 150px;
  border: 10px solid white;
}
.carousel-item,
.carousel-inner,
.box {
  overflow: visible !important;
}

.title-dropdown.hotel .hotel-information {
  width: 295px;
  height: 154px;
  margin-right: 250px;
  padding: 38px 35px;
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
  background-color: #ffffff;
  border-bottom-right-radius: 30px;
}

.restaurant2 h2 {
  font-family: "Lato-Black";
  font-size: 43px;
  color: #323232;
  line-height: 50px;
  padding: 0px 10px;
}
.restaurant2 p {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
  padding: 10px 10px;
  line-height: 28px;
}
.row-icon i {
  width: 48px !important;
  height: 22px !important;
  padding: 20px 10px;
}
.icon-text {
  font-family: "Lato-Bold";
  font-size: 18px;
  color: #323232;
  line-height: 28px;
}

.restaurant2 img {
  width: 623px;
  height: 615px;
  max-width: 100%;
  border-bottom-right-radius: 150px;
  margin-top: 60px;
  object-fit: cover;
}
.reservation-btn {
  font-family: "Lato-Regular";
  background-color: #324d3e;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 10px;
  margin-left: 20px;
  color: #ffffff;
}
.menu-btn {
  font-family: "Lato-Regular";
  background-color: #ffffff;
  border-radius: 5px;
  border-color: 1px #323232;
  font-size: 18px;
  padding: 10px 0px;
  margin-left: 30px;
}
.hotel-facilities1 {
  background-image: url("assets/Group\ 398@2x.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
#parking-1 img,
#parking-3 img {
  width: 623px;
  height: 530px;
  border: 10px solid #ffffff;
  border-top-left-radius: 150px;
  object-fit: cover;
}

#parking-2 img {
  width: 523px;
  height: 530px;
  border: 10px solid #ffffff;
  border-top-right-radius: 150px;
  object-fit: cover;
}
.hotel-facilities1 .row {
  margin: 0;
}
.hotel-facilities1 .row .col-lg-6 {
  padding: 0;
}

.description-1,
.description-3 {
  width: 772px;
  height: 435px;
  background-color: #ffffff;
  border-bottom-right-radius: 50px;
}

.description-1 h2,
.description-3 h2 {
  font-family: "Lato-Black";
  font-size: 43px;
  line-height: 50px;
  margin-top: 130px;
  margin-left: 55px;
  margin-right: 30px;
}
.description-1 p,
.description-3 p {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
  line-height: 28px;
  margin-left: 55px;
  margin-right: 40px;
}

.description-2 {
  width: 784px;
  height: 435px;
  background-color: #ffffff;
  border-bottom-left-radius: 50px;
}
.description-2 h2 {
  font-family: "Lato-Black";
  font-size: 43px;
  margin-top: 100px;
  margin-right: 45px;
  margin-left: 40px;
}
.description-2 p {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
  margin-right: 45px;
  margin-left: 40px;
  line-height: 28px;
}

.weekly-menu {
  border: 1px solid #323232;
}
.date {
  background-color: #324d3e;
  color: #ffffff;
  display: inline-block;
  border-radius: 5px;
  padding: 0px 5px;
}
.fishing img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.menu-box {
  background-color: #324d3e;
  border-bottom-right-radius: 50px;
  padding: 10px;
  color: #ffffff;
  height: 100%;
  font-family: "Lato-Regular";
}
.menu-box img {
  border-bottom-right-radius: 50px;
  height: 440px;
  width: 100%;
  padding: 10px;
}
.menu-box p,
h5 {
  font-family: "Lato-Regular";
  font-size: 18px;
  margin-top: 30px;
  padding: 0px 15px;
}
.hotel-gallery {
  background-image: url("assets/Group\ 401.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.gallery-title {
  font-family: "Lato-Black";
  font-size: 43px;
  color: #ffffff;
}
.gallery img {
  max-width: 431px;
  width: 100%;
  max-height: 301px;
  height: auto;
  border: 10px solid #ffffff;
}
.cave img {
  border-top-left-radius: 150px;
}
.custom-carousel-icon-right {
  background-color: rgb(108, 90, 90) !important;
  margin-left: 100px;
}
.custom-carousel-icon-left {
  background-color: rgb(108, 90, 90) !important;
  margin-right: 100px;
  padding: 5px 5px;
}
.details {
  background-color: white;
  padding: 20px 10px;
  border-top-right-radius: 50px;
}
.details h2 {
  font-family: "Lato-Black";
  font-size: 43px;
  color: #323232;
  line-height: 50px;
  padding: 5px 20px;
}
.details button {
  margin-top: 40px;
  padding: 10px;
  background-color: #324d3e;
  color: white;
  border-radius: 5px;
}
.cave {
  background-color: #f7f7f7;
}
.attractions {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
  line-height: 22px;
  padding: 5px 20px;
}
.cave p {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
  line-height: 28px;
  padding: 5px 20px;
}
.carousel-item .row .col-lg-6 {
  margin: 0;
  padding: 0;
}
.contact {
  background-image: linear-gradient(#324d3e 10%, rgba(0, 0, 0, 0.223)),
    url("assets/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-box {
  background-color: white;
  height: 577px;
  width: 409px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
}
.contact-box h2 {
  font-family: "Lato-Black";
  font-size: 43px;
  line-height: 50px;
  padding: 10px 5px;
}
.contact-box p {
  font-family: "Lato-Regular";
  font-size: 18px;
  line-height: 28px;
  width: 324px;

  padding: 10px 5px;
}
.contact-box button {
  background-color: #324d3e;
  border-radius: 5px;
  height: 49px;
  padding: 0px 40px;
  margin: 10px 5px;
  color: white;
}
.container-footer-1 {
  background-color: white;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  height: 60px;
}
.footer ul {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  row-gap: 10px;
  padding: 0;
  padding-top: 20px;
}
.footer li {
  list-style: none;
  padding: 5px 10px;
}
.footer a {
  font-family: "Lato-Regular";
  font-size: 18px;
  line-height: 28px;
  color: #323232;
}
.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.logos img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.footer-2 {
  background-color: #324d3e;

  padding: 10px;
  border-radius: 5px;
}
.footer-2 .col-auto {
  font-family: "Lato-Regular";
  color: white;
  font-size: 18px;
  line-height: 28px;
  padding: 0px 10px;
}
.container-copyright p {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #323232;
  line-height: 28px;
}
