body{
    margin: 0;
    background-color: #EEF4ED;
}

@font-face {
    font-family: Poppins-Light;
    src: url(/fonts/Poppins-Light.woff2);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Poppins-Semi-Bold;
    src: url(/fonts/Poppins-SemiBold.woff2);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Poppins-Thin;
    src: url(/fonts/Poppins-Thin.woff2);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
.navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.navbar img {
    width: 50px;
    height: 50px;
}
.navbar ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    padding: 0;
}
.navbar li {
    list-style-type: none;
    padding: 0px 20px;
}
.navbar a {
    font-family: Poppins-Light;
    font-size: 20px;
    color: #13315C;
    text-decoration: none;
}
.nav_button {
    background-color: #0B2545;
    color: white!important;
    padding: 10px 30px;
    border-radius: 30px;
    transition: background-color 0.2s linear;
}
.nav_button:hover {
    background-color: #8Ba9c4;
    color: #0B2545!important;
    font-weight: bold;
}
.underline:after {
    width: 0%;
    height: 3px;
    margin: auto;
    display: block;
    content: '';
    background-color: transparent;
    transition: 0.5s ease;
}
.underline:hover::after {
    width: 100%;
    background-color: #0B2545;
}
.heading {
    text-align: center;
    font-family:  "Poppins-Semi-Bold";
    color: #13315C;
    margin: 50px 0;
}
.modells_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 15px;
    row-gap: 80px;
    padding: 20px 20px;
}
.modell {
    width: 400px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0px 30px 20px 30px;
    border-radius: 20px;
}
.modell img {
    width: 100%;
}
.modell h2 {
    font-family: "Poppins-Light";
    font-size: 30px;
}
.modell p {
    font-family: "Poppins-Thin";
    font-size: 20px;
    text-align: center;
}
.modell a {
    font-family:  "Poppins-Semi-Bold";
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: #13315C;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.2s linear;
}
.modell a:hover {
    color: #0B2545;
    background-color: #8DA9C4;
    font-weight: bold;
}
.footer {
    background-color: #0B2545;
    color: #EEF4ED;
    padding-top: 30px;
    padding-bottom: 15px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 30px;
}
.footer_content {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.footer_content img {
    width: 80px;
}
h1 {
    font-size: 30px;
    font-family: "Poppins-Semi-Bold";
    letter-spacing: 3px;
}
.comany_info h3 {
    font-family: "Poppins-Semi-Bold";
    font-size: 20px;
    margin-top: 50px;
}
.company_info li {
    font-family: "Poppins-Light";
    font-size: 15px;
    list-style-type: none;
    margin-bottom: 10px;
}
.aszf_at {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 50px;
}
.aszf_at a {
    font-family: "Poppins-Thin";;
    text-decoration: none;
    font-size: 18px;
    color: white;
}
